body {
  background-image: url("https://cdn.glitch.global/163b7ba5-694e-4134-9adf-72bf688bfc6e/coffee-2560260_1920.jpg?v=1690033644203");
  background-repeat: no-repeat;
  background-size: cover;}
header {
  color: white;
  background-color: #663300;
  margin-left: 30vw;
  margin-right: 30vw;
  border-radius: 10vw;
}
section {
  margin: 50px 0;
  padding: 0 20px;
}
h1 {
  text-transform: uppercase;
  text-align: center;
}
h2 {
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 40vw;
  margin-right: 40vw;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10vw;
  background-color:#663300;
}
ul {
  list-style: none;
  margin: auto; 
  padding: 0;
  width: 60vw;
}

*/ li {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}

li:last-child {
  border-bottom: none;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  margin-top: 4px;
}

.product-name {
  flex: 1;
  color: #663300;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.product-price {
  color: #663300;
  font-size: 16px;
  margin: 0;
  padding-left: 20px;
  font-weight: bold;
}