 body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      
      header {
        background-image: #663300;
        color: #ffffff;
        padding: 20px;
        text-align: center;
        margin-top: 54px;
        border-radius: 10px;
        background-size: 100% 120%;
        background-position: 0 0;
      }
      
      /* Define o estilo das seções principais */
      
      section {
        margin: 50px 0;
        padding: 0 20px;
      }
      
      /* Define o estilo do rodapé */
      
      footer {
        background-color: #663300; /* marrom escuro */
        color: #ffffff; /* texto branco */
        padding: 6px;
        text-align: center;
        font-size: 14;
      }
      
      /* Define o estilo do texto do rodapé */
      
      footer p {
        margin: 0;
        padding: 40px;
        color: #ffffff; /* marrom claro */
      }
      
      h1 {
      color: #663300;
      text-align: center;
      }

      .navbar {
        background-color: #663300;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        background-size: 100% 120%;
        background-position: 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .navbar img {
      height: 30px;
      position: absolute;
      left: 10px;
      cursor: pointer;
    }

    .navbar a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        transition: 0.2s linear;
    }

    .navbar .ativo, .navbar a:hover {
      font-weight: bold;
    }

    .conteudo {
      display: flex;
      overflow: auto;
    }

    .mulher {
      width: 40%;
      object-fit: cover;
    }

    .texto {
      width: 60%;
      height: auto;
      padding: 0 5%;
    }

    .texto p {
      text-align: justify;
    }