body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 98vh; 
  background-image: url('https://cdn.glitch.global/163b7ba5-694e-4134-9adf-72bf688bfc6e/cafeteria.png?v=1689906535088');
  background-size: auto 120%;
  background-position: 100% center; 
}

.logo {
  position: absolute;
  top: 35%; /* Centraliza verticalmente a logo */
  left: 50%; /* Centraliza horizontalmente a logo */
  transform: translate(-50%, -50%);
  width: 600px; 
  height: 500px 
}

.rectangle {
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 400px;
  height: 1300px;
  background-color: #614221;
}
.recarregue-se-btn {
  position: relative;
  z-index: 1; 
  margin-top: 450px;
  padding: 10px 20px;
  font-size: 50px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  border-width: 5px;
}

.recarregue-se-btn:hover {
  background-color: #614221;
}